<a href="https://colab.research.google.com/github/cw805/MATH-242/blob/main/CW_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Google Colab! 

Colab allows us to run the Python programming language in our web browser. Python is an easy-to-use programming language, designed to emphasize code readability. Don't worry if you've never used Colab or Python before. Let's get started!

##Two types of cells
Colab notebooks contain two types of cells: *code cells* and *markdown cells*. 

As you may have guessed, code cells contain code (Python 3 code, to be specific). Press `SHIFT+ENTER` or `CTRL+ENTER` to run code; output will be displayed below the code cell.

Markdown cells contain text, formatted with a simple syntax called markdown. For a quick guide to markdown, see [Markdown Basics on GitHub](https://help.github.com/en/articles/basic-writing-and-formatting-syntax). Markdown cells can also contain LaTeX code, HTML, and other content.

##Arithmetic in Python

Arithmetic in Python works basically as you would expect. Try running the following code cells:

In [ ]:
5 + 13
40-4
3 *    18
100/7

14.285714285714286

Interesting. Python only prints output from the last statement. To see output from the first three lines, surround each of them with the command `print( )` or `display( )`. Also note that Python ignores spaces around math operators.

Let's see some more math operators:

In [ ]:
2**10

1024

In [ ]:
17 % 5

2

Do you understand the previous two code cells?

For many common mathematical functions, you have to load Python's **math module**. To do this, type `import math`. You only have to load the math module once in your notebook.

In [ ]:
import math
math.sqrt(2)

1.4142135623730951

## Lists in Python

To create a list in Python, use square brackets, with list entries separated by commas. For example:

In [ ]:
mylist = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

You can access list entries by their index. *Note that Python starts counting list indexes from zero, as is common in computer science.*

In [ ]:
print(mylist[0])
print(mylist[3])

2
7

Negative indexes count backwards from the end of the list, like this:

In [ ]:
print(mylist[-1])
print(mylist[-3])

29
19

Use a colon inside of square brackets to create a "slice" of a list. This is similar to the double-semicolon syntax in Mathematica, but simpler. Here are some examples:

In [ ]:
print(mylist[2:4]) # slice doesn't include the last element (think 4 - 2)
print(mylist[:4]) 
print(mylist[4:])
print(mylist[2:8:2])

[5, 7]
[2, 3, 5, 7]
[11, 13, 17, 19, 23, 29]
[5, 11, 17]

To stick a new value onto the end of a list, use the `append()` method. It works like this:

In [ ]:
mylist.append(31)
print(mylist)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 31]

Note the dot operator in the code above. We can do this because `append` is a *method* of the *list* data type. See the [Python documentation on lists](https://docs.python.org/3/tutorial/datastructures.html) to learn about other list methods.

Python also has a powerful syntax called *list comprehensions* for quickly creating a list of items that follow a pattern. Python's list comprehensions are analogous to Mathematica's `Table` function. The syntax is:

`[expression for item in iterable]`


Here is an example:

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Technical note:** The `range` function doesn't return a list. It returns an iterable object that allows you to iterate over a range of integers, as in the previous list comprehension.

In [ ]:
cubes = [ x**3 for x in range(5,21)]
print(cubes)
#cubes

[125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

## Logic in Python

Just as Mathematica, Python has the boolean values `True` and `False`. (Note the capitalization.) Logical expressions can be built with the operators `and`, `or`, and `not`. 

Python also has the following comparison operators: `<`, `<=`, `>`, `>=`, `==`, `!=`. Can you guess what each of these means?

Here is an example:

In [ ]:
x=5
y=2
(y < 1) or (x < 8)

True

Here is an example of an *if-else* statement:

In [ ]:
x = 5
if x % 2 == 0:
  print("x is even")
else:
  print("x is not even")

x is not even

**Note the following about the if-else statement:**


1. It *is not* necessary to use parentheses after `if`.
2. It *is* necessary to end the `if` line with a colon. It is also necessary to print a colon after `else`.  
3. It *is* necessary to indent the blocks of code following `if` and `else`. The default indentation in Colab is 2 spaces.

## Functions in Python

Functions are easy to define in Python: simply type the `def` keyword, followed by the name of your function, with input arguments inside parentheses. Then indent the body of your function. Here is an example:

In [ ]:
def isEven(x):
  mod = x % 2
  return mod == 0

Try it out:

In [ ]:
isEven(6)

True

In [ ]:
isEven(17)

False

Note that if you want your function to return a value, you must type the `return` keyword.

## Exercises

### Exercise 1

Write a function that determines the number of real roots of a quadratic polynomial $ax^2 + bx +c=0$. Your function should accept as arguments the three coefficients $a$, $b$, and $c$. Your function should return an integer, either 0, 1, or 2.

Don't forget the quadratic formula!
$$x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}$$

In [ ]:
import math
def polyRoot(a,b,c):
  
  discriminant = (b * b) - (4 * a * c)
  complex_eval = math.sqrt(abs(discriminant))

  if discriminant > 0:
    print("2")

  elif discriminant == 0:
    print("1")

  else:
    print("0")

In [ ]:
# Testing the function:
polyRoot(25,30,-10)
polyRoot(8,10,10)
polyRoot(2,4,2)

2
0
1

### Exercise 2

Write a function that determines whether or not a 2-by-2 matrix is invertible. To do this, represent a matrix as a list of lists. For example, the matrix
$$M = \left[ \begin{array}{cc} 3 & 5 \\ -1 & 4\end{array} \right]$$
should be stored as
`M = [[3, 5],[-1, 4]]`
Your function should take the matrix as a single parameter. Your function should return `True` if the matrix is invertible, and `False` otherwise. *Hint: Remember the determinant of a matrix from linear algebra.*

In [ ]:
def mtrxInvert(mat):

  det = mat[0][0] * mat[1][1] - mat[0][1] * mat[1][0]

  if det == 0:
    return False
  else:
    return True

matrix=[[1,2],[3,4]]

In [ ]:
mtrxInvert(mat=([[1,2],[3,4]]))

True

In [ ]:
mtrxInvert(mat=([[1,1],[1,1]]))

False

## Loops in Python

Python has **for** loops and **while** loops. A for loop iterates over a list or other "iterable" object. A while loop repeats while a condition is true. Here are some examples:

In [ ]:
for i in range(5):
  print(i**2)

0
1
4
9
16

In [ ]:
i = 0
while i < 5:
  print(i**2)
  i = i + 1

0
1
4
9
16

Here is a loop that computes Fibonacci numbers:

In [ ]:
fibs = [0,1]
for n in range(2,20):
  next = fibs[n-1] + fibs[n-2]
  fibs.append(next)
  print(fibs)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

## Exercises

### Exercise 3

Write a function that computes an approximation of the number $e$ using a partial sum of the infinite series
$$ e = \sum_{k=0}^\infty \frac{1}{k!} $$
(This is the Taylor series for $e^x$ evaluated at $x=1$.)
Your function should accept as a parameter the number of terms of the series to add up. You may use the `factorial` function from the `math` module.

In [ ]:
def approxE(i):
  e = 0
  for i in range(0,1000):
    e += (1/math.factorial(i))
  return e

In [ ]:
approxE(50)

2.7182818284590455

### Exercise 4

Write a function that accepts as input a list of numbers and returns the harmonic mean of the numbers. If the input sequence is $x_1, x_2, \ldots, x_n$, then the return value should be:
$$ \frac{n}{\frac{1}{x_1}+ \frac{1}{x_2} + \cdots + \frac{1}{x_n}}$$

In [ ]:
numList = [15,20,25,35,50]

def harmonicMean(numList):
  reSum = 0
  for i in numList:
    reSum = reSum + (1/i)
  hMean = len(numList) / reSum
  return hMean

harmonicMean(numList)

24.36194895591647

### Exercise 5

Write a function that accepts as input the coordinates of three points in the plane and returns the area of the triangle whose vertices are those three points. You might compute the area using [Heron's Formula](https://en.wikipedia.org/wiki/Heron%27s_formula):
$$ A = \sqrt{s(s-a)(s-b)(s-c)}$$
where $a$, $b$, and $c$, are the side lengths, and $s = \frac{a+b+c}{2}$ is the semiperimeter of the triangle.

In [ ]:
# Method 1 - put in all points in order
def heronArea(x1,y1,x2,y2,x3,y3):
  a = math.sqrt(((x2 - x1) * (x2 - x1)) + ((y2 - y1) * (y2 - y1)))
  b = math.sqrt(((x2 - x3) * (x2 - x3)) + ((y2 - y3) * (y2 - y3)))
  c = math.sqrt(((x1 - x3) * (x1 - x3)) + ((y1 - y3) * (y1 - y3)))
  param = a + b + c
  s = param / 2
  area = math.sqrt(s * (s - a) * (s - b) * (s - c))
  return area

In [ ]:
heronArea(0,0,8,2,5,4)

11.0

In [ ]:
# Method 2 - assign coordinates to each point
def heronAreaPts(p1,p2,p3):
  x1 = p1[0]
  y1 = p1[1]
  x2 = p2[0]
  y2 = p2[1]
  x3 = p3[0]
  y3 = p3[1]
  a = math.sqrt(((x2 - x1) * (x2 - x1)) + ((y2 - y1) * (y2 - y1)))
  b = math.sqrt(((x2 - x3) * (x2 - x3)) + ((y2 - y3) * (y2 - y3)))
  c = math.sqrt(((x1 - x3) * (x1 - x3)) + ((y1 - y3) * (y1 - y3)))
  param = a + b + c
  s = param / 2
  area = math.sqrt(s * (s - a) * (s - b) * (s - c))
  return area

In [ ]:
p1 = (0,0)
p2 = (8,2)
p3 = (5,4)
heronAreaPts(p1,p2,p3)

11.0

In [ ]:
# Method 3 - take a whole set of coordinates together (not working yet)

def heronArea3(set):
  set = [p1,p2,p3]
  sides = [a,b,c]
  for i in set:
    for j in pts:
      for n in range(1,4):
        x[n] = set[i][0]
        y[n] = set[i][1]
  for k in sides:
  sides[k] = (x[n],y[n])
  param = sum(pts[j])
  s = param / 2
  area = math.sqrt(s * (s - pts[0]) * (s - pts[1]) * (s - pts[2]))
  return area

### Exercise 6

Write a function that computes the Catalan numbers $C_n$ using the following recurrence relation:

$C_0 = 1$ and $C_{n+1} = \sum_{i=0}^n C_iC_{n-i}$

In [ ]:
def catalan(n):
  if n <= 1:
        return 1
  term = 0
  for i in range(0,n):
      term += catalan(i) * catalan(n-i-1)
 
  return term

In [ ]:
catalan(8)

1430

# Assignment: Intro Python Practice Problems

**Learning Goals:** Gain proficiency with basic Python constructs, including variables, arithmetic operations, and loops.

**Your task:** Complete any four of the six exercises in this notebook. Type your solutions in code cells below the appropriate assignment in this notebook. 

**Due:** Friday, April 8, at 5:00pm. Do the following to submit your work.

1. Click on *Share* in the upper right corner of this window.
2. In the *Get link*, click *Copy link*.
3. Go to the [Intro Python](https://mdl.stolaf.edu/mod/assign/view.php?id=188089) assignment on Moodle. Paste the link to your notebook in the text field for the assignment submission. This will allow Prof. Wright or either of the course graders to view your Colab notebook.

**Grading:** Each exercise will be graded on a Satisfactory/Unsatisfactory scale. If you write a Python function that correctly computes the values requested in a given exercise, you will receive a Satisfactory grade for that exercise.

**Need help?** Review the notes from class and Python documentation links on the course web site. If you still need help, email Prof. Wright. Don't forget there are also evening help sessions &mdash; the help session schedule is at the top of the course website.